@import "tailwindcss";

@theme {
    --color-primary-dark: #5D7964;
    --color-secondary: #F4C6C6;
    --color-gray-dark: #80807D;
    --color-gray-light: #DCDAD5;
    --color-beige-light: #FAF8F1;
    --color-black-dark: #3C3C3C;
}